<template>
  <div>
    <h1>Phone Book by Vladislav Musilovich</h1>

    <input class="input" type="text" v-model="newContactName" placeholder="First Name"/>
    <input class="input" type="text" v-model="newContactLastName" placeholder="Last Name"/>
    <input class="input" type="tel" v-model="newContactNumber" placeholder="Phone Number"/>
    <button class="btn btn-add" @click="addNumber">Add</button>

    <list :contacts="contacts" @removeNumber="removeNumber"></list>
  </div>
</template>

<script>
import List from './List.vue'
export default {
  components: {
    List
  },
  data () {
    return {
      newContactName: '',
      newContactNumber: '',
      newContactLastName: '',
      contacts: []
    }
  },
  mounted () {
    window.addEventListener('unload', this.saveData)
    this.fetchData();
  },
  methods: {
    fetchData () {
      let data = JSON.parse(localStorage.getItem('contacts'));
      if (data) {
        this.contacts = data;
      }
    },
    addNumber () {
      if (this.newContactName && this.newContactNumber) {
        let date = new Date();
        this.contacts.push({
          id: date.getTime(),
          name: this.newContactName.trim(),
          lastName: this.newContactLastName.trim(),
          number: this.newContactNumber.trim(),
        });
        this.saveData();
        this.clearForm();
      }
    },
    removeNumber (index) {
      this.contacts.splice(index, 1);
      this.saveData();
    },
    clearForm () {
      this.newContactName = '';
      this.newContactNumber = '';
      this.newContactLastName = '';
    },
    saveData () {
      localStorage.setItem('contacts', JSON.stringify(this.contacts));
    }
  },
  beforeDestroy () {
    window.removeEventListener('unload', this.saveData)
  }
}
</script>

<style>
  .list {
    margin-top: 16px;
  }
  .list-elem {
    margin: 10px 0;
  }
  .btn {
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 12px;

    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .btn-remove {
    background-color: lightcoral;
  }
  .btn-add {
    background-color: lightgreen;
  }
</style>
