<template>
  <div class="list">
    <div class="list-elem" v-for="(contact, index) in contacts" :key="contact.id">
      <span>
        Name: <input type="text" v-model="contact.name">
      </span>
      <span>
        Last Name: <input type="text" v-model="contact.lastName">
      </span>
      <span>
        Phone Number: <input type="tel" v-model="contact.number">
      </span>
      <button class="btn btn-remove" @click="$emit('removeNumber', index)">
        Delete
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    contacts: {
      type: Array,
      default: () => []
    }
  }
}
</script>
